doctype html
html(lang="en")

  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./css/MyReview.css")
    link(rel='stylesheet' href='https://cdn.datatables.net/2.0.0/css/dataTables.dataTables.min.css')
    
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.1/xlsx.full.min.js" )
  body
      .navbar
        .navbar-heading
          //i.fas.fa-bug.bug-icon= language.bug_analyzer
          h4 
           |Review Management
        
        a#addReview.generate-bug-button(href="./addReview")= language.add_review
        a#addBug.generate-bug-button(href="./addBug")= language.add_bug
        a.logout-button
         i.fas.fa-sign-out-alt

      main#myReview.content.px-3.py-2.d-none
      .container-fluid
        .mb-3
          h4#review-details My Review Points
        // Your Table Element
        table#myReviewTable.table.table-bordered.table-striped
          thead
              tr
                th#wrikeId(scope='col')(style='background-color:#12397b; color:white') Wrike ID
                th(scope='col')(style='background-color:#12397b; color:white') Task  Name
                th(scope='col')(style='background-color:#12397b; color:white') Reviewer Name
                th(scope='col')(style='background-color:#12397b; color:white') Review Date
                th(scope='col')(style='background-color:#12397b; color:white') Review Type
                th(scope='col')(style='background-color:#12397b; color:white') Review Status 
                th(scope='col')(style='background-color:#12397b; color:white') Developer Name
                th(scope='col')(style='background-color:#12397b; color:white') Action
          tbody
      script(src='https://code.jquery.com/jquery-3.6.4.min.js')
      script(src='//cdn.datatables.net/2.0.0/js/dataTables.min.js')
      link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css")
      script(src="https://cdn.jsdelivr.net/npm/toastify-js")
      script(src="https://cdn.jsdelivr.net/npm/sweetalert2@10")
      script(src='./js/MyReview.js')
      script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")