doctype html
html(lang="en")

    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="./css/MyReviewDetails.css")
        link(rel='stylesheet' href='https://cdn.datatables.net/2.0.0/css/dataTables.dataTables.min.css')
        
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.1/xlsx.full.min.js" )
    body
        .navbar
            .navbar-heading
                //i.fas.fa-bug.bug-icon= language.bug_analyzer
                h4 
                    |Review Management
            a.generate-bug-button(href="./viewReview")= language.view_review
            a.import-button(style='margin-left:5px')(href="./addReview")= language.add_review
            a.logout-button
             i.fas.fa-sign-out-alt

        main#myReviewDetail.content.px-3.py-2.d-none
        .container-fluid
            .mb-3
                h4#review-id Wrike ID: Task Name
            // Your Table Element
            table#myReviewDetailTable.table.table-bordered.table-striped
                thead
                    tr
                        th#wrikeId(scope='col')(style='background-color:#12397b; color:white') Sr. No.
                        th(scope='col')(style='background-color:#12397b; color:white') Review Point
                        th(scope='col')(style='background-color:#12397b; color:white') Review Date
                        th(scope='col')(style='background-color:#12397b; color:white') Review Status 
                        th(scope='col')(style='background-color:#12397b; color:white') Developer Name
                        th(scope='col')(style='background-color:#12397b; color:white') Commit Id Before
                        th(scope='col')(style='background-color:#12397b; color:white') Commit Id After 
                        th(scope='col')(style='background-color:#12397b; color:white') Developer Comment
                        th(scope='col')(style='background-color:#12397b; color:white') Modified At
                        th(scope='col')(style='background-color:#12397b; color:white') Action
                tbody
        #editReviewPointModal.modal.fade(tabindex='-1' aria-labelledby='editReviewPointModalLabel' aria-hidden='true')
            .modal-dialog
                .modal-content
                    .modal-header(style='background-color:#12397b;color:white;')
                        h4#editReviewPointModalLabel.modal-title Edit Review Point
                        button.close(type='button' data-dismiss='modal' aria-label='Close')
                            
                    .modal-body
                        .form-group
                            label(for='reviewPoint') Review Point
        
                            textarea#reviewPoint.form-control(type='text' readonly)
                        .form-group
                            label(for='reviewStatus') Review Status
                                span.text-danger *
                            select#newReviewStatus.form-select(name='reviewStatus' required='')
                                option(value='' disabled='' selected='') Select Review Status
                        .form-group
                            label(for='commitIdBefore') Commit Id Before
                                span.text-danger *
                            input#commitIdBefore.form-control(type='text')
                        .form-group
                            label(for='commitIdAfter') Commit Id After
                                span.text-danger *
                            input#commitIdAfter.form-control(type='text')
                        .form-group
                            label(for='developerComment') Developer Comment
                                span.text-danger *
                            input#developerComment.form-control(type='text')
                    .modal-footer
                        button.btn.btn-secondary(type='button' data-dismiss='modal'  style='width:70px;') Close
                        button#saveReviewPoint.btn.btn-primary(type='button') Update

   
    script(src='https://code.jquery.com/jquery-3.6.4.min.js' )
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js')
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css")
    script(src="https://cdn.jsdelivr.net/npm/toastify-js")
    script(src="https://cdn.jsdelivr.net/npm/sweetalert2@10")
    script(src='//cdn.datatables.net/2.0.0/js/dataTables.min.js')
    script(src="./js/MyReviewDetails.js")
    script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")