doctype html
html(lang="en")

  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css")
    script(src="https://code.jquery.com/jquery-3.7.0.js")
    script(src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
    link(rel="stylesheet", href="./css/ProjectBugs.css")
    link(rel="stylesheet", href="./css/Navbar.css")

  body

    .navbar
      .navbar-heading
        i.fas.fa-bug.bug-icon= language.bug_analyzer
      div
        a.bug-button(href="./addBug")=language.add_bug_btn
        a.bug-button(href="./getAllBugsInfo")= language.all_bug_btn
        a#export-button.bug-button(href="#" title="Export to Excel")
          i.fas.fa-file-download  EXPORT
        

    .outer-box
      h1
      .center-container
        table#example.display(style="width:100%")

    //- button.btn.btn-primary#export-button Export to Excel

  script(type='text/javascript', charset='utf8', src='https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.5/xlsx.full.min.js')
  script(type='text/javascript', charset='utf8', src='https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js')
  link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css")
  script(src="https://cdn.jsdelivr.net/npm/toastify-js")
  script(src="./js/ProjectBugsData.js")
